name: Modrinth Readme

on:
  push:
    branches: [ main ]
    paths: [ README.md ]
jobs:
  modrinth-desc:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v5
    - uses: funnyboy-roks/modrinth-auto-desc@v1.7
      with:
        auth-token: ${{ secrets.MODRINTH_TOKEN }}
        slug: 'genius'
